# Ignore all compiled files
#--------------------------
__pycache__
*.pyc
*.[aox]
*.mod
._*
.DS_Store
nohup.out

# Ignore editor generated backup files
#-------------------------------------
*~
*.sw[a-p]

# Ignore folders
#-------------------
exec/
fix/
.idea/
.vscode/
